<div *ngIf="artist" class="container">
  <header class="text-center">

    <div class="row">
      <div class="col-xs-4 col-xs-offset-4"  *ngIf="artist.images.length > 0">
        <figure>
          <img class="artist-thumb img-responsive" src="{{artist.images[0].url}}" alt="{{artist.name}}">
        </figure>
      </div>
    </div>
    <h1>{{artist.name}}</h1>
    <p *ngIf="artist.genres.length > 0">
        Genres: <span *ngFor="let genre of artist.genres">{{genre}}, </span>
    </p>
  </header>
  <section class="artist-albums container">
      <div class="row">
        <div class="col-md-5 col-md-offset-3">
          <ul class="list-group text-center" *ngFor="let album of albums">
            <li class="list-group-item">
              <a routerLink="/album/{{album.id}}">
                <img class="img-thumbnail" src="{{album.images[0].url}}">
              </a>
              <h4><a routerLink="/album/{{album.id}}">{{album.name}} </a></h4>
              {{album.id}}
                <span *ngIf="albums.tracks">
                  <li *ngFor="let track of albums.tracks.items"> {{track.name}}</li>
                </span>

            </li>
          </ul>
        </div>
      </div>

  </section>
</div>
